:root {
  --white-font-color: #fff;
  --blue-background-color: dodgerblue;
  --danger-font-color: red;
  --success-font-color: lightgreen;
  --black-color: #000;
  --orange-color: orange;
  --card-border-color: #ddd;
  --box-shadow-color: #ccc;
}

body {
  margin: 0;
  font-size: 16px;
}

.App {
  font-family: sans-serif;
}
.error-message {
  color: var(--danger-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
}
img {
  max-width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
